.header-inmobiliaria {
    background-color: #0b2a47; 
    border-bottom: 1px solid #ddd;
  }
  
  .logo-inmobiliaria {
    height: 20%;
    width: 15%;
    object-fit: cover;
  }

  @media (max-width: 768px) {
  .btn-nav {
    margin-left: 7%;
    font-size: 100%;
  }

  

  .nav-logo img {
    width: 30%;
  }
}