.bg-contact {
  background-image: url('../../../assets/casa_fondo.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.nav-logo {
  padding-top: 24%;
  width: 40%;
}

.bg-info-contact {
  margin-top: 24%;
  background-color: rgba(245, 222, 179, 0.6);
  border-radius: 1%;
  padding-block: 6%;

}
.contact-info{
  margin-block:2%;
}
.contact-info:hover {
  color:white;
}



