<div>
  <div>
    <component-header></component-header>
  </div>
  <div class="mt-5 mb-5">
    <buscador (onSearch)="searchByFilter($event)"></buscador>
  </div>
  <div class ="mb-5 d-flex justify-content-center">
    <button class="btn btn-info" (click)="goToCreate()">
      Crear inmueble
    </button>
  </div>
  <div *ngIf="noResults" class="alert alert-warning text-center mt-4">
    <h2>No existen inmuebles con estas condiciones.</h2>
  </div>
  <div *ngIf="inmuebles.length > 0">
    <house-card *ngFor="let inmueble of inmuebles" [inmueble]="inmueble">
    </house-card>
  </div>

</div>