<div>
  <div class="position-absolute top-0 end-0 mt-2 me-3">
    <div class="dropdown">
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Usuario
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" [routerLink]="['/login']">Iniciar sesión</a></li>
      </ul>
    </div>
  </div>
  <div>
    <component-header></component-header>
  </div>
  <div class="mt-5 mb-5">
    <buscador (onSearch)="searchByFilter($event)"></buscador>
  </div>
  <div *ngIf="isLoggedIn$ | async" class="mb-5 d-flex justify-content-center">
    <button class="btn btn-info" (click)="goToCreate()">
      Crear inmueble
    </button>
  </div>
  <div *ngIf="noResults">
    {{ noResultsMessage }}
  </div>
  <div *ngIf="inmuebles.length > 0">
    <house-card *ngFor="let inmueble of inmuebles" [inmueble]="inmueble" (deleted)="removeInmueble($event)">
    </house-card>
  </div>
  <div class="d-flex my-5 justify-content-center mt-4" *ngIf="totalPages > 0">
    <button class="btn btn-outline-primary me-2" (click)="changePage(page - 1)" [disabled]="page === 0">Anterior</button>
    <ng-container *ngFor="let p of [].constructor(totalPages); let i = index">
      <button
        class="btn"
        [ngClass]="{'btn-primary': i === page, 'btn-outline-primary mx-2': i !== page}"
        (click)="changePage(i)">
        {{ i + 1 }}
      </button>
    </ng-container>
  
    <button class="btn btn-outline-primary ms-2" (click)="changePage(page + 1)" [disabled]="page === totalPages - 1">Siguiente</button>
  </div>
</div>
