<div>
    <div>
        <component-header></component-header>
    </div>
    <div class="mt-5">
        <buscador></buscador>
    </div>

    <div class="container bg-list my-4 py-4">
        <div class="card my-2 mx-auto" style="width: 40%;">
          <img src="../../../assets/casa2.jpg" class="card-img-top" alt="Casa">
          <div class="card-body">
            <h4 class="card-title">Casa en Calle Perez Galdos 5</h4>
            
            <div class="card-text d-flex">
              <p class="fw-bold mb-0">Descripción:</p>
              <p class="ms-1 mb-0 col-10">Casa en calle veracruz con vistas a la acamuña amueblada para entrar a vivir</p>
            </div>
            
            <div class="card-text d-flex mt-2">
              <p class="fw-bold mb-0">Precio:</p>
              <p class="ms-1 mb-0">100.000 €</p>
            </div>
            
            <a href="#" class="btn btn-primary mt-3">Ver más</a>
          </div>
        </div>
      </div>
      
</div>