<component-header></component-header>

<div class="container mt-4">
    <h2 class="mb-4">Editar Inmueble</h2>
  
    <form *ngIf="inmuebleForm" [formGroup]="inmuebleForm">      
      <!-- title -->
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        
        <input type="text" id="titulo" class="form-control"  formControlName="titulo">
      </div>
      <!-- subtitle -->
      <div class="mb-3">
        <label for="subtitle" class="form-label">Subtitulo</label>
        <textarea id="subtitle" rows="2" class="form-control"  formControlName="subtitle"></textarea>
      </div>
      <!-- description -->
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea id="descripcion" rows="4" class="form-control"  formControlName="descripcion"></textarea>
      </div>
  
      <!-- price -->
      <div class="mb-3">
        <label for="precio" class="form-label">Precio (€)</label>
        <input type="number" id="precio" class="form-control"  formControlName="precio">
      </div>
  
      <!-- location -->
      <div class="mb-3">
        <label for="localidad" class="form-label">Localidad</label>
        <input type="text" id="localidad" class="form-control"  formControlName="localidad">
      </div>

      <!-- bathrooms -->
      <div class="mb-3">
        <label for="localidad" class="form-label">Baños</label>
        <input type="number" id="banios" class="form-control"  formControlName="banios">
      </div>
      
      <!-- type of building -->
      <div class="mb-3">
        <label for="tipoInmueble" class="form-label">Tipo de inmueble</label>
        <select id="tipoInmueble" class="form-select" formControlName="tipoInmueble">
          <option *ngFor="let tipo of tiposInmuebles" [value]="tipo.id">{{ tipo.nombre }}</option>
        </select>
      </div>
  
      <!-- type of contract -->
      <div class="mb-3">
        <label for="tipoContrato" class="form-label">Tipo de contrato</label>
        <select id="tipoContrato" class="form-select" formControlName="tipoContratoId">
          <option *ngFor="let contrato of tiposContratos" [value]="contrato.id">{{ contrato.nombre }}</option>
        </select>
      </div>
  
      
      <button type="submit" class="btn btn-success" [disabled]="inmuebleForm.invalid">Guardar cambios</button>
    </form>
  </div>
  