.bg-hero {
    background-image: url('../../../assets/casa2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
  }

.lading-title {
  margin-top: 15%;
  margin-left: 10%;
}

.lading-logo{
  height: 20%;
  width: 20%;
}

.btn-inmo-primary {
  background-color: #0b1d3a;
  color: white;
}
.btn-inmo-primary:hover {
  background-color: white;
  color:#0b1d3a ;
}

.btn-inmo-accent {
  background-color: #e14d2a;
  color: white;
}
