<!-- <nav></nav> -->

<div class="container mt-4">
  <!-- Título y logo -->
  <div class="d-flex align-items-center mb-4">
    <img src="src/assets/logo_inmobiliaria.jpg" alt="Logo" height="50" class="me-3" />
    <h1 class="mb-0">Inmobiliaria Cordón Lara</h1>
  </div>

  <!-- Lista de propiedades -->
  <!-- <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let propiedad of propiedades">
      <app-card-propiedad [propiedad]="propiedad"></app-card-propiedad>
    </div>
  </div>
</div> -->

<!-- Footer -->
<footer></footer>
