<component-header></component-header>

<div class ="container bg-color">

    <div class="">
        <h1>Tipos de servicios</h1>
    </div>
    <div>
        <ul>
            <li>Compra - Venta de inmuebles</li>
            <li>CONTRATO DE ARRAS/SEÑAL</li>
            <li>CONTRATOS DE ALQUILER</li>
            <li>FINANCIACIÓN DIRECTA DEL INMUEBLE</li>
            <li>ALQUILER Y VENTE EN CUALQUIER PUNTO DE ESPAÑA</li>
            <li>ALQUILER TEMPORAL DE ESTUDIOS</li>
            <li>FINCAS RÚSTICAS Y ARRENDAMIENTOS TEMPORALES</li>
            <li>SOLUCIONES ENERGÉTICAS Y TELEFÓNICAS</li>
            <li>ADMINISTRACIÓN DE FINCAS (EDIFICIOS DE VIVIENDAS)</li>
            <p>Gestión de mantenimientos y limpieza</p>
        </ul>
    </div>


</div>